*{
				margin: 0px;
				padding: 0px;
			}
			.navigation{
				width: 1280px;
				height: 769px;
				margin: 0px auto;
				background: #2566C2;
				
			}
			.logo{
				font: 38px/1.5em MicrosoftYaHei-Bold;
				color: #FFFFFF;
				
				padding: 40px 0px 0px 159px;
				background: url(../img/清晰%202.png) no-repeat 85px 26px;
			}
			
			.content{
				width: 769px;
				height: 478px;
				background: url(../img/screen1.png) no-repeat;
				background-color: #FFFFFF;
				margin: 0 auto;
			}
			.denglu{
				text-align: center;
				font-family: MicrosoftYaHei;
				font-size: 32px;
				color: #333333;
				margin-top: 90px;
				margin-bottom: 20px;
			}
			.one,.two{
				border: 1px solid #CCCCCC;
				border-radius: 3px;
				width: 330px;
				height: 40px;
				margin-left: 85px;
				padding-left: 10px;
				margin-top: 40px;
			}
			.one{
				margin-top: 80px;
			}
			
			.contents{
				width: 500px;
				height: 400px;
				margin-left: 267px;
				
				
			}
			.contents>#userName{
				background: transparent;
			}
			#userName,#pwd{
				outline: none;
				border: none;
				margin-top: 12px;
				margin-bottom: 16px;
			}
			#btn{
				border: none;
				background: transparent;
				background: #4B8DE3;
				border: 1px solid #4B8DE3;
				border-radius: 3px;
				width: 342px;
				height: 40px;
				font-family: MicrosoftYaHei;
				font-size: 16px;
				color: #FFFFFF;
				margin-left: 85px;
			}
			.there{
				margin-left: 85px;
				margin-bottom: 15px;
			}
			.there a{
				margin-left: 190px;
				text-decoration: none;
				font-family: MicrosoftYaHei;
				font-size: 12px;
				color: #4B8DE3;
			}
			.there span{
				font-family: MicrosoftYaHei;
				font-size: 12px;
				color: #666666;
			}